.footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // gap: 70px;
    border: 1px solid green;
    // background-color: red;

    &__logo {
        color: white;
        font-size: 30px;
        padding: 25px 60px;
    }

    &__conclusion {
        color: white;
        padding: 0px 60px;
    }

    &__pages {
        display: flex;
        gap: 30px;
        color: white;
    }

    &__icons {
        display: flex;
        gap: 25px;
        font-size: 25px;
    }
}