.profile {
    width: 75%;
    height: 500px;
    border: 5px solid red;
    margin: 20px auto;

    &__title {
        font-size: 30px;
        color: white;
        text-align: center;
        padding: 30px;
    }

    &__inputs {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 30px;
    }

    &__input {
        width: 160px;
        height: 30px;
        border-radius: 10px;
        border: none;
        background-color: white;
        text-align: center;
        color: red;
    }

    &__btn {
        width: 90px;
        height: 35px;
        border-radius: 10px;
        border: 3px solid red;
        background-color: inherit;
        color: red;
    }

    &__btn:hover {
        color: green;
        border: 3px solid green;
        transition: all 0.7s ease;
    }

    &__btn:active {
        color: white;
        border: 3px solid white;
    }

    &__button {
        width: 90px;
        height: 35px;
        border-radius: 10px;
        border: 3px solid cyan;
        background-color: inherit;
        color: cyan;
    }

    &__button:hover {
        color: blue;
        border: 3px solid blue;
        transition: all 0.7s ease;
    }

    &__button:active {
        color: yellow;
        border: 3px solid yellow;
    }

    &__result {
        color: white;
        text-align: center;
        margin-top: 40px;
        font-size: 28px;
    }
}